{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="region_info d-flex flex-row mb-3 justify-content-center">
        
        {% comment %} <div class="p-2">
            <img src="{% static 'images/Gerb VO.png' %}" alt="Волгоградская область" class="reg_gerb">
        </div> {% endcomment %}
        <div class="p-6">
            <p class="region">Импорт данных отчетности</p>  
        </div>   
	</div>

	<div class="d-flex flex-row mb-3 justify-content-center">

	</div>


	


	
	


{% endblock content %}
