{% extends "base.html" %}
{% block header %}
{% endblock header %}
{% block extra_head %}
    <meta http-equiv="refresh" content="3;url={% url 'landing' %}">
{% endblock extra_head %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card mt-5">
                <div class="card-body text-center">
                    <h1 class="card-title">Спасибо!</h1>
                    <p class="card-text">Вы успешно разавторизовались.</p>
                    <p>
                        <a href="{{request.META.HTTP_REFERER}}" class="btn btn-dark">Продолжить</a>
                    </p>

                    {% comment %} <a href="{% url 'landing' %}" class="btn btn-dark">Вернуться на главную</a> {% endcomment %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}





