
    {% load static %}
        <nav class="navbar-expand-lg  bg-body-tertiary navbar col-md-8 container-fluid" >
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{ title }}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
            <span class="navbar-toggler-icon"></span>
            </button> 
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% for menu_item in menu  %}
                        <a class="nav-link" aria-current="page" href="{% url menu_item.url %}"> {{ menu_item.name }} </a>
                    {% endfor %}
                    
                    
                    {% if request.user.is_staff %}
                        <a class="nav-link" href="{% url 'review_create' %}">Оставить обращение</a> 
                        <a class="nav-link" href="{% url 'reviews' %}">Список обращений</a> 
                    {% endif %}                                  

                    {% if request.user.is_superuser %}
                        <a class="nav-link" href="http://127.0.0.1:8000/admin/">Управление</a> 
                        <a class="nav-link" href="{% url 'import' %}">Импорт</a>
                    {% endif %}
                    {% comment %} <a class="nav-link disabled">Отключенная</a> {% endcomment %}
                </ul>   
                <ul class="navbar-nav ms-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="nav-link">Привет, </span>
                    </li>

                    <li class="nav-item">
                        {% comment %} <span class="nav-link">Привет, {{ user.username }}!</span> {% endcomment %}
                        {% comment %} <span class="d-inline-block">Привет, {% endcomment %}
                            <a class="nav-link " href="#"> {{ user.username }} ! </a>
                            {% comment %} !
                        </span> {% endcomment %}
                    </li>
                    {% comment %} <li class="nav-item">
                        <span class="nav-link">! </span>
                    </li> {% endcomment %}
                    
                    <li class="nav-item">
                        <form action="{% url 'logout' %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="nav-link btn btn-link">Выход</button>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Вход</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
                    </li>
                    {% endif %}
                </ul>                 
            </div>
        </div>
    </nav>

    

    
